@media screen and (max-width: 450px) {
    .container {
      float: left;
    }
  
    footer {
        float: left;
    }
  }
  @media screen and (min-width: 768px) {
    /* The body's bg color will be #333 */
    body {
      background-color: #333;
    }
  
    /* The wrapper's width will be 600px */
    .wrapper {
      width: 600px;
    }
  }